
.formTodo{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inputWithButtons{
  display: flex;
}

.formInput {
  padding: 5px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: 0;
  border-bottom: 1px solid #fff;
  font-size: 18px;
  outline: none;

}

.btn {
  height: 100%;
  width: 40px;
  background: none;
  border: 1px solid #fff;
  font-size: 18px;
  cursor: pointer;
  color: #fff;
  transition: ease-out 0.1s;
  font-weight: 800;
}

.btn:hover {
  box-shadow: 0 1px 3px #484947;
  border: none;
}

.btnAdd:hover {
  background-color: #393939;
}

.btnCancel:hover{
  background-color: #ea2323;
}

.btnSave {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.btnSave:hover {
  background-color: #13da10;
}

.hashItem {
  color: #fff;
}