@import url(./assets/font/iconsfont.css);

body {
  margin: 0;
  min-height: 100vh;
  background: #3e3e3e;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
  color: #fff;
  text-shadow: 0 1px 1px #494949;
}

#root {
  padding-top: 50px;
}

.app-title {
  text-align: center;
  margin-bottom: 20px;
}
.App {
  max-width: 670px;
  background-color: #cd5034;
  margin: 0 auto;
  border-radius: 5px;
  padding-bottom: 30px;
}

.todosAndTags{
  display: flex;
  padding: 30px 10px;
}

.DraftEditor-root {
  padding: 5px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: 0;
  border-bottom: 1px solid #fff;
  font-size: 18px;
  outline: none;
  background: #fff;
  margin: 20px;
  white-space: pre-wrap;
}
